
.icon-search:before { content: '\e800'; } /* '' */
.icon-logout:before { content: '\e801'; } /* '' */
.icon-upload:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-login:before { content: '\e804'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */