@import url('General.css');

.Acces {
    background-color: #DDE2F7;
}

.fotoacces {
    height: 150;
    width: 150;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.contraste {
    background-color: #000;
    color: #fff;
}

.Letrag{
    font-size;18px;
    border: 1px solid #000;
}

.LetraContraste {
    background-color: #000;
    color: #fff;
    font-size:18px;
}
